<div
  class="modal fade"
  id="taskModal"
  tabindex="-1"
  aria-labelledby="taskModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="resetForm()"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        @if (task) {
        <h1 class="modal-title fs-5" id="taskModalLabel">Editar Tarefa</h1>
        }@else {
        <h1 class="modal-title fs-5" id="taskModalLabel">Nova Tarefa</h1>

        }
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label">Título</label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                [ngClass]="{
                  'is-invalid':
                    taskForm.get('title')?.invalid &&
                    taskForm.get('title')?.touched
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  taskForm.get('title')?.invalid &&
                  taskForm.get('title')?.touched
                "
              >
                <small *ngIf="taskForm.get('title')?.errors?.['required']"
                  >Título é obrigatório.</small
                >
                <small *ngIf="taskForm.get('title')?.errors?.['minlength']"
                  >Mínimo 3 caracteres.</small
                >
                <small *ngIf="taskForm.get('title')?.errors?.['maxlength']"
                  >Máximo 100 caracteres.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Descrição</label>
              <textarea
                class="form-control"
                formControlName="description"
              ></textarea>
              <div
                class="invalid-feedback"
                *ngIf="
                  taskForm.get('description')?.invalid &&
                  taskForm.get('description')?.touched
                "
              >
                A descrição é obrigatória.
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Status</label>
              <select
                class="form-control"
                formControlName="status"
                [ngClass]="{
                  'is-invalid':
                    taskForm.get('status')?.invalid &&
                    taskForm.get('status')?.touched
                }"
              >
                <option>Pendente</option>
                <option>Em andamento</option>
                <option>Concluído</option>
              </select>
              <div
                class="invalid-feedback"
                *ngIf="
                  taskForm.get('status')?.invalid &&
                  taskForm.get('status')?.touched
                "
              >
                O status é obrigatório.
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Data para conclusão</label>
              <input
                type="date"
                class="form-control"
                formControlName="dueDate"
                [ngClass]="{
                  'is-invalid':
                    taskForm.get('dueDate')?.invalid &&
                    taskForm.get('dueDate')?.touched
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  taskForm.get('dueDate')?.invalid &&
                  taskForm.get('dueDate')?.touched
                "
              >
                A data é obrigatória.
                <p *ngIf="taskForm.get('dueDate')?.errors?.['dateInvalid']">
                  Data não pode ser anterior a hoje
                </p>
              </div>
            </div>
            <div class="d-flex inline justify-content-around">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="taskForm.invalid"
              >
                Salvar Tarefa
              </button>
              @if(task){
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteTask()"
              >
                Excluir tarefa
              </button>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
